@import "tailwindcss";

:root {
    --primary-color: #000000;
    --secondary-color: #121212;
    --primary-color-white: #ffffff;
    --primary-color-darkwhite: #dedede;
}

@theme {
    --color-black: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-white: var(--primary-color-white);
    --color-darkwhite: var(--primary-color-darkwhite);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@layer components {
    #clock {
        @apply h-dvh w-full relative grid grid-cols-5 grid-rows-8 gap-2 bg-[var(--primary-color)];

        .clock_container {
            @apply col-span-5 row-span-7  flex items-center  justify-center py-3  ;

        }

        .clock_footer {
            @apply col-span-5 row-start-8 flex  items-center  justify-end;
        }

        .clock_menu {
            @apply relative h-full flex items-center px-5 gap-8;

            .hours_btn {
                @apply text-3xl font-bold text-white cursor-pointer;
            }

            .style_btn {
                @apply relative p-2 cursor-pointer;
            }
        }

    }

    .clock_base {
        @apply h-full w-full relative  flex flex-col  items-center justify-center gap-8;

        .clock_mode {
            @apply text-2xl font-bold text-[var(--color-darkwhite)]  top-10 left-10 -translate-x-1/2 -translate-y-1/2 absolute;
        }
    }

    .clock_box {
        @apply h-80 w-2/3 flex items-center justify-center relative bg-[var(--secondary-color)] rounded-lg;

        .num_box {
            @apply text-8xl font-bold text-white;
        }
    }
}



